@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f97316; /* Tailwind orange-500 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  font-family: 'Inter', sans-serif;
}